div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 213px;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F0F8FF;
}

li {
    float: top;
}

li a {
    display: block;
    color: black;
    border: 2px solid white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #87CEFA;
}
